li {
    display: inline;
}

ul {
  list-style-type: none;
  background-color: #47c9af;
}

ul a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  color: white;
  padding: 15px;
  line-height: 50px;
}
.active a {
  background-color: white;
  color: #47c9af;
}

a:hover {
  background-color: #288a77;
  color: white;
}
