#pagewrap {
  background-color: white;
}

footer {
  background-color: #47c9af;
}

footer p {
  color: white;
  padding: 7px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  color: black;
}

h1 {
  font-family: 'Josefin Slab', serif;
  color: #47c9af;
  text-align: center;
  font-size: 3em;
}

h2 {
  font-family: 'Josefin Slab', serif;
  color: #288a77;
  text-align: center;
  font-size: 2.5em;
}

h3 {
  font-family: 'Josefin Slab', serif;
  color: #47c9af;
  text-align: center;
  font-size: 2em;
}

h4 {
  font-family: 'Josefin Slab', serif;
  color: #288a77;
  text-align: center;
  font-size: 1.5em;
}

p {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

header h1 {
  font-size: 3.5em;
}

#rikke {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 25px;
}

#mig {
  padding-top: 45px;
}

#introduktion p {
  text-align: center;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #288a77;
  padding: 3px;
}

#shutterspeed {
  display: block;
  margin: auto;
  max-width: 100%;
}

#aperture {
    display: block;
    margin: auto;
    max-width: 100%;
  }

#iso {
    display: block;
    margin: auto;
    max-width: 100%;
  }
